<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="landing">
  <div class="overlap-wrapper">
    <div class="overlap">
      <div class="group"><img class="image" src="/img/image-1.png" /> <img class="img" src="/img/image-2.png" /></div>
      <div class="rectangle"></div>
      <img class="rectangle-2" src="/img/rectangle-2.svg" />
      <img class="remove-bg" src="/img/remove-bg-1.png" />
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <img class="line" src="/img/line-1.svg" />
          <div class="ellipse"></div>
        </div>
      </div>
      <div class="div">
        <div class="group-2">
          <div class="overlap-group-2">
            <div class="text-wrapper">Популярно</div>
            <div class="text-wrapper-2">Опенгеймер</div>
          </div>
          <div class="group-3">
            <div class="text-wrapper-3">Рейтинг</div>
            <div class="group-4">
              <img class="star" src="/img/star-4.svg" />
              <img class="star-2" src="/img/star-4.svg" />
              <img class="star-3" src="/img/star-4.svg" />
              <img class="star-4" src="/img/star-4.svg" />
              <img class="star-5" src="/img/star-5.svg" />
            </div>
          </div>
        </div>
        <p class="p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat.
        </p>
      </div>
      <div class="group-5">
        <div class="text-wrapper-4">Популярно</div>
        <div class="text-wrapper-5">Фильмы</div>
        <div class="text-wrapper-6">Сериалы</div>
      </div>
      <div class="div-wrapper">
        <div class="overlap-2">
          <div class="rectangle-3"></div>
          <div class="group-6">
            <div class="overlap-group-3">
              <div class="ellipse-2"></div>
              <img class="polygon" src="/img/polygon-1.svg" />
            </div>
          </div>
          <div class="text-wrapper-7">Смотреть онлайн</div>
        </div>
      </div>
      <div class="group-7">
        <div class="rectangle-4"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-6"></div>
        <div class="text-wrapper-8">Новинки</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>