<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globalcatalog.css" />
    <link rel="stylesheet" href="../../static/catalog.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="text-wrapper">Каталог</div>
        <div class="group">
          <div class="overlap-group-wrapper">
            <div class="overlap-group">
              <div class="group-2">
                <img class="star" src="img/star-18.svg" />
                <img class="img" src="img/star-18.svg" />
                <img class="star-2" src="img/star-18.svg" />
                <img class="star-3" src="img/star-20.svg" />
                <img class="star-4" src="img/star-20.svg" />
              </div>
              <div class="text-wrapper-2">2013</div>
              <div class="text-wrapper-3">Муви 43</div>
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap">
              <div class="overlap-group-2">
                <p class="p">Ледниковый период 4: Континентальный дрейф</p>
                <div class="text-wrapper-4">2012</div>
              </div>
              <div class="group-2">
                <img class="star" src="img/star-18.svg" />
                <img class="img" src="img/star-18.svg" />
                <img class="star-2" src="img/star-18.svg" />
                <img class="star-3" src="img/star-20.svg" />
                <img class="star-4" src="img/star-20.svg" />
              </div>
            </div>
          </div>
          <div class="div-wrapper">
            <div class="overlap-2">
              <div class="group-2">
                <img class="star" src="img/star-18.svg" />
                <img class="img" src="img/star-18.svg" />
                <img class="star-2" src="img/star-18.svg" />
                <img class="star-3" src="img/star-20.svg" />
                <img class="star-4" src="img/star-20.svg" />
              </div>
              <div class="text-wrapper-5">2023</div>
              <div class="text-wrapper-6">Барби</div>
            </div>
          </div>
          <div class="group-3">
            <div class="overlap-3">
              <div class="text-wrapper-7">Бруно</div>
              <div class="text-wrapper-8">2009</div>
              <div class="group-4">
                <img class="star" src="img/star-18.svg" />
                <img class="img" src="img/star-18.svg" />
                <img class="star-2" src="img/star-18.svg" />
                <img class="star-3" src="img/star-20.svg" />
                <img class="star-4" src="img/star-20.svg" />
              </div>
            </div>
          </div>
          <div class="group-5">
            <div class="overlap-4">
              <div class="text-wrapper-9">2001</div>
              <div class="group-2">
                <img class="star" src="img/star-18.svg" />
                <img class="img" src="img/star-18.svg" />
                <img class="star-2" src="img/star-18.svg" />
                <img class="star-3" src="img/star-20.svg" />
                <img class="star-4" src="img/star-20.svg" />
              </div>
              <div class="text-wrapper-3">Шрек</div>
            </div>
          </div>
        </div>
        <div class="overlap-5">
          <div class="group-6">
            <div class="group-7">
              <div class="overlap-group-3"><div class="text-wrapper-10">Страна</div></div>
            </div>
            <div class="group-8">
              <div class="overlap-6"><div class="text-wrapper-11">Категория</div></div>
            </div>
            <div class="group-9">
              <div class="overlap-7"><div class="text-wrapper-12">2023</div></div>
            </div>
            <div class="group-10">
              <div class="overlap-8"><div class="text-wrapper-13">Название фильма</div></div>
            </div>
            <div class="group-11">
              <div class="overlap-7"><div class="text-wrapper-14">Жанр</div></div>
            </div>
            <div class="ellipse"></div>
          </div>
          <img class="interface-search" src="img/interface-search-magnifying-glass.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
